.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  margin-top: 20px;
  .paragraph {
    margin-bottom: 20px;
    color: var(--text-color);
    transition: color 400ms linear;
  }
  .listProjects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .itemProject {
      width: 450px;
      height: 300px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.2s ease-in-out;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 50px;
      h3 {
        color: var(--title-color);
        text-align: center;
      }
      .imageProject {
        width: 450px;
        border-radius: 10px;
      }
      .toolsList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .tools {
          border: 1px solid var(--title-color);
          padding: 0 5px;
          border-radius: 4px;
          margin: 4px;
          font-family: "M PLUS Code Latin", sans-serif;
          color: var(--text-color);
          transition: color 400ms linear;
        }
      }
    }
    .itemProject:hover {
      transform: translateY(-10px);
    }
  }
}
a.link {
  text-decoration: none;
  color: #000000 !important;
}

/* Responsive */

@media screen and (max-width: 991px) {
  .wrapper {
    .listProjects {
      flex-direction: column;
      .itemProject {
        width: 300px;
        margin-bottom: 70px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    .listProjects {
      .itemProject {
        width: 360px;
        margin-bottom: 10px;
        h3 {
          font-size: 14px;
        }
        .imageProject {
          width: 360px;
        }
        .toolsList {
          .tools {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    font-size: 14px;
    margin-top: 10px;
    .listProjects {
      .itemProject {
        width: 300px;
        height: 260px;
        margin-bottom: 0px;
        margin-right: 0;
        h3 {
          font-size: 14px;
        }
        .imageProject {
          width: 300px;
        }
        .toolsList {
          .tools {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    font-size: 12px;
    margin-top: 6px;
    .paragraph {
      margin-bottom: 0;
    }
    .listProjects {
      justify-content: center;
      .itemProject {
        width: 240px;
        height: 220px;
        margin-bottom: 0px;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
        h3 {
          font-size: 14px;
        }
        .imageProject {
          width: 240px;
        }
        .toolsList {
          .tools {
            font-size: 10px;
          }
        }
      }
    }
  }
}
