.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  .headerBlock {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .leftBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;
      .name {
        font-size: 30px;
        color: var(--title-color);
        transition: color 400ms linear;
      }
      .employee {
        color: var(--text-color);
        transition: color 400ms linear;
      }
    }

    .aboutPhoto {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
  }

  .aboutInfo {
    width: 560px;
    text-align: center;
    color: var(--text-color);
    transition: color 400ms linear;
  }
  .logosList {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    .logoItem {
      fill: var(--logos-color);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      padding-left: 20px;
    }
    .logoItem:hover {
      fill: var(--logos-color-hover);
      transform: scale(120%);
    }
  }
}

/* Responsive */

@media screen and (max-width: 767px) {
  .wrapper {
    margin-top: 20px;
    .headerBlock {
      .aboutPhoto {
        width: 100px;
        height: 100px;
      }
    }
    .aboutInfo {
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    margin-top: 10px;
    .headerBlock {
      margin-bottom: 10px;
      .leftBlock {
        margin-right: 40px;
        .name {
          font-size: 20px;
        }
        .employee {
          font-size: 15px;
        }
      }
      .aboutPhoto {
        width: 80px;
        height: 80px;
      }
    }
    .aboutInfo {
      width: 400px;
    }
  }
}
