.wrapper {
  margin-top: 30px;
  p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color);
    transition: color 400ms linear;
  }
  .listSkills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .itemSkills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border: var(--border-item);
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 20px;
      background-color: var(--background-skills-color);
      .picturePng {
        margin-top: 10px;
        width: 60px;
      }
      h3 {
        color: var(--title-color);
        font-size: 24px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        li {
          margin-bottom: 5px;
          font-size: 14px;
          color: var(--text-color);
          transition: color 400ms linear;
        }
      }
    }
    .itemSkills:last-child {
      margin-right: 0;
    }
  }
}

/* Responsive */

@media screen and (max-width: 991px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        width: 230px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        width: 170px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        margin-right: 10px;
        width: 130px;
        height: 240px;
        .picturePng {
          width: 40px;
          margin-top: 6px;
        }
        h3 {
          font-size: 18px;
        }
        ul {
          li {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .wrapper {
    margin-top: 10px;
    p {
      font-size: 12px;
    }
    .listSkills {
      .itemSkills {
        margin-right: 10px;
        width: 90px;
        height: 200px;
        .picturePng {
          width: 20px;
        }
        h3 {
          font-size: 12px;
        }
        ul {
          li {
            margin-bottom: 2px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .wrapper {
    margin-top: 6px;
    p {
      font-size: 12px;
    }
    .listSkills {
      .itemSkills {
        margin-right: 6px;
        width: 70px;
        height: 150px;
        .picturePng {
          width: 20px;
        }
        h3 {
          font-size: 10px;
        }
        ul {
          li {
            margin-bottom: 2px;
            font-size: 8px;
          }
        }
      }
    }
  }
}
