.wrapper {
  margin-top: 30px;
  p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color);
    transition: color 400ms linear;
  }
  .listSkills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .itemSkills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border: var(--border-item);
      border-radius: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      background-color: var(--background-skills-color);
      .picturePng {
        margin-top: 10px;
        width: 60px;
      }
      h3 {
        color: var(--title-color);
        font-size: 24px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        li {
          margin-bottom: 5px;
          font-size: 14px;
          color: var(--text-color);
          transition: color 400ms linear;
        }
      }
    }
    .itemSkills:last-child {
      margin-right: 0;
    }
  }
}

/* Responsive */

@media screen and (max-width: 991px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        width: 230px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        width: 170px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    .listSkills {
      .itemSkills {
        margin-right: 10px;
        width: 130px;
        .picturePng {
          width: 40px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
