.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;

  h5 {
    font-family: "Source Serif Pro", serif;
    font-size: 30px;
    color: var(--text-color);
    transition: color 500ms linear;
  }
  .modePng {
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .modePng:hover {
    transform: scale(125%);
  }
}
