.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;

  h5 {
    font-family: "Source Serif Pro", serif;
    font-size: 30px;
    color: var(--text-color);
    transition: color 500ms linear;
  }
  .modePng {
    width: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .modePng:hover {
    transform: scale(125%);
  }
}

/* Responsive */

@media screen and (max-width: 767px) {
  .wrapper {
    h5 {
      font-size: 20px;
    }
    .modePng {
      width: 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    height: 60px;
    .modePng {
      width: 24px;
    }
  }
}
@media screen and (max-width: 420px) {
  // from 340
  .wrapper {
    height: 40px;
    .modePng {
      width: 20px;
    }
  }
}

@media screen and (max-width: 340px) {
  // from 340
  .wrapper {
    height: 40px;
    .modePng {
      width: 16px;
    }
  }
}
