* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  font-family: "M PLUS Code Latin", sans-serif;
}
a {
  text-decoration: none;
}

body {
  font-family: "Source Serif Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

/* dark theme */

html[data-theme="dark"] {
  --text-color: #ffffff;
  --title-color: rgb(128, 188, 188);
  --background-color: #192626;
  --border-item: 1px solid #ffffff;
  --background-skills-color: rgb(78, 106, 106);
  --logos-color: rgb(178, 174, 170);
  --logos-color-hover: #ffffff;
}

/* light theme */

html[data-theme="light"] {
  --text-color: #000000;
  --title-color: rgb(55, 131, 131);
  --background-color: #ffffff;
  --border-item: 1px solid #000000;
  --background-skills-color: rgb(208, 227, 227);
  --logos-color: rgb(116, 112, 107);
  --logos-color-hover: #000000;
}
